.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #ffffff;
  --control-button-width: 6%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #545454;
  --control-bullet-active-color: #707070;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}

.sliderDiv {
  position: relative;
}

.arrow {
  color: white;
}

.searchButton {
  margin: 8px;
  width: 30%;
  position: absolute !important;
  left: 0;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}
