.title-card-register {
  margin: 50px 120px;
  border-radius: 30px;
  color: #1d1d22;
  font-size: 1.5rem;
  text-align: center;
}

.btn-2-register {
  display: grid;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.successMessage {
  color: green;
  font-weight: bold;
}
