.description-contener {
  margin: 20px;
  background: rgb(63, 62, 62);
  border-radius: 10px;
  padding: 30px;
}
.map-container {
  margin: 20px;
  border-radius: 10px;
  padding: 30px;
}

.name-wrapper {
  color: white;
  font-size: 30;
  border-radius: 10px;
}

.name-wrapper h1 {
  color: rgb(149, 207, 12);
  margin: 20px 20px 20px 20px;
  font-size: 40px;
}

.description-wrapper {
  color: rgb(199, 191, 191);
  border-radius: 10px;
  font-size: 20px;
}

.description-wrapper h1 {
  font-size: 30px;
  margin: 10px 10px 10px 10px;
}

.description-wrapper p {
  word-wrap: break-word;
}

.ratings-wrapper {
  margin: 20px 20px 20px 20px;
  background: rgb(63, 62, 62);
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
}

.features-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: rgb(149, 207, 12);
  background-color: rgb(63, 62, 62);
  border-radius: 10px;
  font-size: 20px;
  position: center;
  row-gap: 10px;
  column-gap: 10px;
}

.feature-block {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  background-color: rgb(47, 49, 49);
  color: linear-gradient(90deg, rgb(218, 255, 118) 0%, rgb(149, 207, 12) 100%);
}
.feature-block-2 {
  grid-column: span 2;
}
.feature-block h1 {
  font-size: 25px;
}

.feature-block p {
  color: #ffd700;
}

@media screen and (max-width: 960px) {
  .description-contener {
    margin: 10px;
    background: rgb(63, 62, 62);
    border-radius: 10px;
    padding: 15px;
  }
  .map-container {
    margin: 10px;
    background: rgb(63, 62, 62);
    border-radius: 10px;
    padding: 15px;
  }

  .name-wrapper {
    color: white;
    font-size: 15px;
    background-color: rgb(63, 62, 62);
    border-radius: 10px;
  }

  .name-wrapper h1 {
    margin: 10px 10px 10px 10px;
    font-size: 20px;
  }

  .description-wrapper {
    color: rgb(199, 191, 191);
    background-color: rgb(63, 62, 62);
    border-radius: 10px;
  }

  .description-wrapper h1 {
    margin: 10px 10px 10px 10px;
    font-size: 25px;
  }

  .ratings-wrapper {
    margin: 10px;
    background: rgb(63, 62, 62);
    border-radius: 10px;
    padding: 10px;
  }

  .features-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: rgb(149, 207, 12);
    background-color: rgb(63, 62, 62);
    border-radius: 10px;
    font-size: 20px;
    row-gap: 10px;
    column-gap: 10px;
  }

  .feature-block {
    background-color: rgb(47, 49, 49);
    color: linear-gradient(90deg, rgb(218, 255, 118) 0%, rgb(149, 207, 12) 100%);
    width: 100%;
  }

  .feature-block h1 {
    font-size: 18px;
  }

  .feature-block p {
    color: #ffd700;
    font-size: 15px;
  }
}

@media screen and (max-width: 540px) {
  .description-contener {
    margin: 10px;
    background: rgb(63, 62, 62);
    border-radius: 10px;
    padding: 15px;
  }
  .map-container {
    margin: 10px;
    background: rgb(63, 62, 62);
    border-radius: 10px;
    padding: 15px;
  }

  .name-wrapper {
    color: white;
    background-color: rgb(63, 62, 62);
    border-radius: 10px;
  }

  .name-wrapper h1 {
    margin: 10px 10px 10px 10px;
    font-size: 20px;
  }

  .description-wrapper {
    color: rgb(199, 191, 191);
    background-color: rgb(63, 62, 62);
    border-radius: 10px;
    font-size: 15px;
  }

  .description-wrapper h1 {
    font-size: 25px;
    margin: 10px 10px 10px 10px;
  }

  .ratings-wrapper {
    margin: 10px;
    background: rgb(63, 62, 62);
    border-radius: 10px;
    padding: 10px;
  }

  .features-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: rgb(149, 207, 12);
    background-color: rgb(63, 62, 62);
    border-radius: 10px;
    font-size: 12px;
    row-gap: 5px;
    column-gap: 5px;
  }

  .feature-block {
    background-color: rgb(47, 49, 49);
    color: linear-gradient(90deg, rgb(218, 255, 118) 0%, rgb(149, 207, 12) 100%);
    width: 100%;
  }

  .feature-block h1 {
    font-size: 15px;
  }

  .feature-block p {
    color: #ffd700;
    font-size: 15px;
  }
}
