.title-card-set {
  margin: 50px 120px;
  border-radius: 30px;
  color: #1d1d22;
  font-size: 2rem;
  text-align: center;
}

.form-group-reset input {
  margin-top: 50px;
  padding-left: 10px;
}

.form-group-reset input {
  border-radius: 15px;
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0px;
  margin-bottom: 20px;
  font-size: 1.25rem;
}

.btn-1 {
  margin-bottom: 80px;
}
