.login-card {
  min-height: 60vh;
  border: none;
}

.title-card {
  margin: 70px 120px;
  border-radius: 30px;
  color: #b5e61d;
  font-size: 2rem;
  background-color: #1d1d22;
  text-align: center;
  position: relative;
}
.title-card h1 {
  display: inline;
  color: #a4a1a4;
  font-size: 2.5rem;
}
.form-group {
  width: fit-content;
  margin: auto;
  border-radius: 15px;
}
.form-group label {
  font-size: 2rem;
  position: relative;
  right: 35px;
}

.form-group input {
  position: relative;
  bottom: 37px;
  left: 5px;
  border: 0px;
  font-size: 1.4rem;
  border-radius: 15px;
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-left: 10px;
}

.form-group input:focus {
  box-shadow: 0 0 0 2pt gray;
  outline-width: 0;
}

.btn-1 {
  background-color: #1d1d22;
  color: #b5e61d;
  margin: auto auto 10px;
  min-height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  font-size: 1.2rem;
  border: 0px;
  text-align: center;
  padding: 10px 0 10px;
}
.btn-1-grid {
  margin: auto;
  width: 50%;
}
.btn-2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  width: 60%;
  margin: 20px auto 50px;
}

.form-group-2 {
  margin: auto;
  border-radius: 15px;
}

@media screen and (max-width: 745px) {
  .title-card {
    margin: 50px 20px;
  }
}
