.NavbarItems {
  background: linear-gradient(90deg, rgb(218, 255, 118) 0%, rgb(149, 207, 12) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: black;
  justify-self: start;
  margin-left: 40px;
  cursor: pointer;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  right: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: right;
  justify-content: end;
}

.nav-links-mobile {
  display: none;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: width 0.5s ease-in-out;
  }

  .nav-menu.active {
    background: rgb(73, 73, 71);
    left: 0;
    opacity: 1;
    z-index: 1000;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 23px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 0px;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}
