.footer-items {
  width: 100%;
  text-align: center;
  bottom: 0;
  background: linear-gradient(90deg, rgb(218, 255, 118) 0%, rgb(149, 207, 12) 100%);
}

.copyright {
  color: black;
  font-size: 15px;
}
