* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.App {
  min-height: 100vh;
}

body {
  background-color: #484646;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #808080 inset !important;
  -webkit-box-shadow: 0 0 0 30px #808080 inset !important;
}
