body {
  font-family: "Montserrat", sans-serif;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

.box {
  position: relative;
  margin: 0 auto;
  max-width: 80vw;
  width: 600px;
  max-height: fit-content;
  margin-top: calc(100vh - 85vh - 20px);
  background: linear-gradient(0deg, rgba(181, 230, 29, 1) 60%, rgba(66, 62, 62, 0.9) 100%);
  overflow: auto;
  border-radius: 10px;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 45px;
  line-height: 30px;
  text-align: center;
  font-size: 40px;
  z-index: 101;
}

.alertMessage {
  min-width: 200px;
  justify-content: center;
  position: relative;
  display: flex;
  background: red;
}
